.test {
  padding: 27px;
  max-width: 100%; /* Limita a largura do contêiner principal */
  overflow: hidden; /* Evita que o conteúdo extravase os limites */
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Garante que cada slide não ultrapasse a largura */
  width: 535 !important; /* Garante que o slide se ajuste ao conteúdo */
}

h3 {
  background-color: #ffff;
  text-align: end;
  padding: 0;
}

.slick-prev, .slick-next {
  z-index: 1;
  color: #333;
}

.slick-dots li button:before {
  color: #333;
}

.carousel-item {
  padding: 5px; /* Espaçamento interno */
  margin: 0 2px; /* Reduz o espaçamento externo para aproximar os itens */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Garante que o item não ultrapasse a largura do slide */
}

.carousel-button {
  width: 299px;
  margin: 0 auto; /* Centraliza o botão dentro do contêiner pai */
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img {
  object-fit: scale-down;
  padding-top: 6px;
  margin-bottom: 6px;
  height: 108px;
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do botão */
}

.button-text {
  background-image: linear-gradient(to bottom, #8FAC0C 50%, #22260D);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  width: 100%; /* Garante que o h3 tenha a mesma largura do botão */
  height: 23px;
  text-align: end; /* Alinha o texto ao final */
  margin: 0;
  padding-right: 10px; /* Adiciona um pouco de espaço à direita */
  /* padding-top: 6px; */
  border-radius: 0px 0px 4px 4px;
}

.carNameButton {
  width: 100%;
  height: 36px;
  background-color: red;
}
